<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="8.0" name="TacOS">
	<description type="system">
		<author>Iván Chavero</author>
		<contact>imcsk8@nortk.com</contact>
		<specification>Taco PoC OS (CentOS Stream 10)</specification>
	</description>

	<profiles>
		<profile name="Live" description="Live image of TacOS 10"/>
		<profile name="Disk" description="OEM image of TacOS 10"/>
	</profiles>

	<preferences>
		<bootsplash-theme>tacos-spinner</bootsplash-theme>
		<keytable>es</keytable>
		<locale>en_US</locale>
		<packagemanager>dnf4</packagemanager>
		<rpm-check-signatures>true</rpm-check-signatures>
		<rpm-excludedocs>true</rpm-excludedocs>
		<timezone>UTC</timezone>
		<version>0.1.0</version>
		<release-version>10</release-version>
	</preferences>

	<preferences profiles="Live">
		<type image="iso" volid="TACOS" flags="dmsquash" firmware="uefi" hybridpersistent_filesystem="ext4" hybridpersistent="true" kernelcmdline="console=tty0 rhgb quiet">
			<bootloader name="grub2" grub_template="grub.cfg.iso-template" console="console" timeout="10"/>
		</type>
	</preferences>

	<preferences profiles="Disk">
		<type image="oem" volid="TACOS" filesystem="ext4" installiso="true" installboot="install" firmware="uefi" kernelcmdline="console=tty0 rhgb quiet rd.kiwi.install.selectdisk=1">
			<bootloader name="grub2" grub_template="grub.cfg.iso-template" console="console" timeout="10"/>

			<oemconfig>
				<oem-unattended>false</oem-unattended>
				<oem-reboot>true</oem-reboot>
				<oem-resize>true</oem-resize>
				<oem-swap>true</oem-swap>
				<oem-swapsize>1024</oem-swapsize>
				<oem-multipath-scan>false</oem-multipath-scan>
			</oemconfig>
		</type>
	</preferences>

	<users>
		<user password="ricostacos" pwdformat="plain" home="/root" name="root" groups="root"/>
	</users>

	<repository type="rpm-md" alias="baseos" sourcetype="metalink">
		<source path="https://mirrors.centos.org/metalink?repo=centos-baseos-$releasever-stream&amp;arch=$basearch">
			<signing key="file:///usr/share/distribution-gpg-keys/centos/RPM-GPG-KEY-CentOS-10"/>
		</source>
	</repository>

	<repository type="rpm-md" alias="appstream" sourcetype="metalink">
		<source path="https://mirrors.centos.org/metalink?repo=centos-appstream-$releasever-stream&amp;arch=$basearch">
			<signing key="file:///usr/share/distribution-gpg-keys/centos/RPM-GPG-KEY-CentOS-10"/>
		</source>
	</repository>

	<repository type="rpm-md" alias="crb" sourcetype="metalink">
		<source path="https://mirrors.centos.org/metalink?repo=centos-crb-$releasever-stream&amp;arch=$basearch">
			<signing key="file:///usr/share/distribution-gpg-keys/centos/RPM-GPG-KEY-CentOS-10"/>
		</source>
	</repository>

	<repository type="rpm-md" alias="epel" sourcetype="metalink">
		<source path="https://mirrors.fedoraproject.org/metalink?repo=epel-10&amp;arch=$basearch">
			<signing key="file:///usr/share/distribution-gpg-keys/epel/RPM-GPG-KEY-EPEL-10"/>
		</source>
	</repository>

	<packages type="image" patternType="plusRecommended">
		<namedCollection name="base"/>
		<namedCollection name="core"/>
		<namedCollection name="system-tools"/>

		<package name="bash"/>
		<package name="e2fsprogs"/>
		<package name="epel-release"/>
		<package name="gdisk"/>
		<package name="glibc-langpack-en"/>
		<package name="glibc-langpack-es"/>
		<package name="grub2-efi-x64" arch="x86_64"/>
		<package name="grub2-efi-x64-modules" arch="x86_64"/>
		<package name="grub2-pc" arch="x86_64"/>
		<package name="grub2-pc-modules" arch="x86_64"/>
		<package name="htop"/>
		<package name="kernel"/>
		<package name="kernel-modules"/>
		<package name="kernel-modules-core"/>
		<package name="kernel-modules-extra"/>
		<package name="plymouth"/>
		<package name="plymouth-graphics-libs"/>
		<package name="plymouth-plugin-label"/>
		<package name="plymouth-plugin-script"/>
		<package name="plymouth-plugin-two-step"/>
		<package name="plymouth-scripts"/>
		<package name="plymouth-theme-script"/>
		<package name="shim-x64" arch="x86_64"/>
	</packages>

	<packages type="image" profiles="Live">
		<package name="dracut-live"/>
		<package name="dracut-network"/>
	</packages>

	<packages type="image" profiles="Disk">
		<package name="dracut-kiwi-oem-dump"/>
		<package name="dracut-kiwi-oem-repart"/>
		<package name="dracut-network"/>
	</packages>

	<packages type="bootstrap">
		<package name="basesystem"/>
		<package name="dnf"/>
		<package name="filesystem"/>
		<package name="grub2-efi-x64" arch="x86_64"/>
		<package name="grub2-efi-x64-modules" arch="x86_64"/>
		<package name="grub2-pc" arch="x86_64"/>
		<package name="grub2-pc-modules" arch="x86_64"/>
		<package name="shim-x64" arch="x86_64"/>
	</packages>
</image>
